<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "page2.main.dao.mapper.UserMapper">
	<select id = "getUser" parameterType = "login" resultType = "user">
		select user_no userNo,user_id id,user_password passWord,user_email email,user_regdate regDate
		from users
		where user_id = #{id}
		and user_password = #{password}
	</select>
	
	<select id = "search" parameterType = "string" resultType = "user">
		select user_id id,user_password passWord,user_email email,user_regdate regDate
		from users
		where user_id = #{id}
	</select>
	
	<delete id = "deleteUser" parameterType = "int">
		delete users
		where user_no = #{userNo}
	</delete>
	
	<insert id = "addUser" parameterType ="user">
		insert into users
		values (users_seq.nextval,#{id},#{passWord},#{email},sysdate)
	</insert>
</mapper>